.search-page {

  margin-top: 15px;
  padding-left: 24px;
  padding-right: 24px;

  h2 {
    font-size: 1.5em;
  }

  section {
    margin: 3em auto;

    &:first-child {
      margin-top: 0;
    }

    &.centered {
      text-align: center;
    }
  }

  .form-group-row {
    margin-top: 21px;
  }

  .form-group-btn {
    margin-top: 0px;
    background-color: #869ca9;
    color: white;
  }

  form {
    margin-bottom: 1em;

    input {
      outline: none;
      border-bottom: 1px dotted #999;
    }

    
  }

  span.at-prefix {
    color: black;
    margin-left: 0.4em;
  }

  
}
