.list-item-wrapper {
  width: 100%;
  // height: 3em;
  display: flex;
  align-items: center;
  position: relative;
  border-top: 1px solid #eee;
  margin-bottom: 10px;
  padding-top: 10px;
  // margin-top: 8px;

  &:first-child {
    border-top: none;
  }

  .list-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: center;
  }
}